extends template/main

block variables
  - var title = 'Карточка'
  - var pageClass = 'card-page'

mixin product-feature(name, value)
  .product-feature
    span.product-feature__name= name
    span.product-feature__value= value

mixin product-slider-item(img)
  .product-slider__item
    img(src=`static/images/content/card/${img}.jpg`, alt='')

mixin product-slider-navitem(img, status)
  .product-slider__nav-item(class=status)
    img(src=`static/images/content/card/${img}.jpg`, alt='')

block content
  ul.breadcrumbs
    li.breadcrumbs__item
      a.breadcrumbs__title(href='#') Главная
    li.breadcrumbs__item
      a.breadcrumbs__title(href='#') Каталог
    li.breadcrumbs__item
      a.breadcrumbs__title(href='#') Железо
    li.breadcrumbs__item.breadcrumbs__item--active
      span.breadcrumbs__title Барабан в сборе со ступицей

  .product__wrapper
    h1.product-info__title.product-info__title--top
      | Барабан в сборе со ступицей
    .product__top
      .product-image
        .product-slider__wrapper
          .status.status--product.status--in-stock
            <svg class="ic ic-check" aria-hidden="true">
              <use xlink:href="#check"></use>
            </svg>
            span.status__text
              | Товар в наличии
          .product-slider.js-product-slider
            +product-slider-item('img-1')
            +product-slider-item('img-1')
            +product-slider-item('img-1')
            +product-slider-item('img-1')
        .product-slider__nav.js-product-slider-nav
          +product-slider-navitem('img-1', 'is-active')
          +product-slider-navitem('img-1', '')
          +product-slider-navitem('img-1', '')
          +product-slider-navitem('img-1', '')
      
      .product-info
        .product-info__inner
          h1.product-info__title.product-info__title--aside
            | Барабан в сборе со ступицей
          .product-meta
            .product-rating
              <svg class="ic ic-star" aria-hidden="true">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="ic ic-star" aria-hidden="true">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="ic ic-star" aria-hidden="true">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="ic ic-star" aria-hidden="true">
                <use xlink:href="#star"></use>
              </svg>
              <svg class="ic ic-star-o" aria-hidden="true">
                <use xlink:href="#star-o"></use>
              </svg>
            a.product-meta__reviews(href='#')
              span.product-meta__reviews-icon
                <svg class="ic ic-commenting-o" aria-hidden="true">
                  <use xlink:href="#commenting-o"></use>
                </svg>
              span.product-meta__reviews-text
                <b>5</b> отзывов
          .product-features
            +product-feature('Тех. описание:', '6T40E')
            +product-feature('Состояние:', 'Новый')
            +product-feature('Артикул:', 'R144550BKH')
            +product-feature('Номер запчасти:', '144550KH-2')
            +product-feature('Производитель:', 'GM')
            +product-feature('Вес нетто:', '5,15 кг.')
          .product-nums
            .product-cost
              span.product-cost__now
                | 3 700 
                <svg class="ic ic-ruble" aria-hidden="true">
                  <use xlink:href="#ruble"></use>
                </svg>
              span.product-cost__last
                | 7 400

            include modules/product-quantity/product-quantity

          .product-actions.product-actions--product
            button.buy-button.buy-button-with-text.js-buy-button(aria-label='Добавить в корзину')
              span.buy-button__label Добавить в корзину
              <svg class="ic ic-cart-plus" aria-hidden="true">
                <use xlink:href="#cart-plus"></use>
              </svg>
            button.wish-button.js-wish-button(aria-label='Добавить в желания')
              <svg class="ic" aria-hidden="true">
                <use xlink:href="#heart-o"></use>
              </svg>

          .product-about
            p.product-about__title
              | Коротко о товаре
            .product-about__text
              p
                | В каталогах нашего интернет-магазина
                | вы можете найти запасные части и ремонтные
                | комплекты для автоматических трансмиссий
                | только наилучшего качества. Мы развиваем
                | активную маркетинговую B2C политику,
                | нацеленную на конечного потребителя.
    
    .product-bottom
      include pages/card/product-tabs

  section.goods-list__wrapper.mb-3-5
    h2.section-title.section-title--dash
      | Аналоги
    ul.goods-list
      include modules/goods-item/goods-item
      include modules/goods-item/goods-item-active
      include modules/goods-item/goods-item-unavailable
      
  section.goods-list__wrapper.mb-4-5
    h2.section-title.section-title--dash
      | Состав комплекта
    ul.goods-list
      include modules/goods-item/goods-item-sm

  section.product-recent-viewed
    h2.section-title.section-title--dash
      | Вы недавно смотрели
    include pages/card/product-carousel
