extends template/main

block variables
  - var title = 'Главная страница'
  - var pageClass = 'index-page'
  include pages/index/index-config


block content
  //- SECTIONS ================================================================
  section.sections
    h2.visuallyhidden Разделы
    .sections-list
      .sections-item.sections-item--1
        .sections-item__inner(style="background-image:url(static/images/content/sections/filter.png);")
          h3.sections-item__heading
            a(href="")
              span.sections-item__heading-small Раздел
              span.sections-item__heading-big Фильтра
          a.arrow-button.sections-item__link(href="")
            span.arrow-button__text В раздел
            <svg class="arrow-button__icon" xmlns="http://www.w3.org/2000/svg" width="22" height="10" viewBox="0 0 22 10">
              <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M4.000,5.999 L4.000,3.999 L22.000,3.999 L22.000,5.999 L4.000,5.999 Z" />
              <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M20.000,-0.001 L22.000,-0.001 L22.000,5.999 L20.000,5.999 L20.000,-0.001 Z" />
              <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M0.007,5.010 L6.007,10.011 L6.007,0.008 L0.007,5.010 Z" />
            </svg>

      .sections-item.sections-item--2
        .sections-item__inner(style="background-image:url(static/images/content/sections/oil.png);")
          h3.sections-item__heading
            a(href="")
              span.sections-item__heading-small Раздел
              span.sections-item__heading-big Масла
          a.arrow-button.sections-item__link(href="")
            span.arrow-button__text В раздел
            <svg class="arrow-button__icon" xmlns="http://www.w3.org/2000/svg" width="22" height="10" viewBox="0 0 22 10">
              <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M4.000,5.999 L4.000,3.999 L22.000,3.999 L22.000,5.999 L4.000,5.999 Z" />
              <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M20.000,-0.001 L22.000,-0.001 L22.000,5.999 L20.000,5.999 L20.000,-0.001 Z" />
              <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M0.007,5.010 L6.007,10.011 L6.007,0.008 L0.007,5.010 Z" />
            </svg>

      .sections-item.sections-item--3
        .sections-item__inner(style="background-image:url(static/images/content/sections/sonnax.png);")
          h3.sections-item__heading
            a(href="")
              span.sections-item__heading-small Раздел
              span.sections-item__heading-big SONNAX
          a.arrow-button.sections-item__link(href="")
            span.arrow-button__text В раздел
            <svg class="arrow-button__icon" xmlns="http://www.w3.org/2000/svg" width="22" height="10" viewBox="0 0 22 10">
              <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M4.000,5.999 L4.000,3.999 L22.000,3.999 L22.000,5.999 L4.000,5.999 Z" />
              <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M20.000,-0.001 L22.000,-0.001 L22.000,5.999 L20.000,5.999 L20.000,-0.001 Z" />
              <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M0.007,5.010 L6.007,10.011 L6.007,0.008 L0.007,5.010 Z" />
            </svg>

      .sections-item.sections-item--4
        .sections-item__inner(style="background-image:url(static/images/content/sections/radiator.png);")
          h3.sections-item__heading
            a(href="")
              span.sections-item__heading-small Раздел
              span.sections-item__heading-big Радиаторы
          a.arrow-button.sections-item__link(href="")
            span.arrow-button__text В раздел
            <svg class="arrow-button__icon" xmlns="http://www.w3.org/2000/svg" width="22" height="10" viewBox="0 0 22 10">
              <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M4.000,5.999 L4.000,3.999 L22.000,3.999 L22.000,5.999 L4.000,5.999 Z" />
              <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M20.000,-0.001 L22.000,-0.001 L22.000,5.999 L20.000,5.999 L20.000,-0.001 Z" />
              <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M0.007,5.010 L6.007,10.011 L6.007,0.008 L0.007,5.010 Z" />
            </svg>


  //- INFO BLOCK ==============================================================
  section.headed-block.info-headed
    .headed-block__head
      a.headed-block__label.head-label(href="")
        h2.head-label__text Информация
        <svg class="head-label__icon" xmlns="http://www.w3.org/2000/svg" width="22" height="14" viewBox="0 0 22 14">
          <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M6.000,14.000 L6.000,12.000 L22.000,12.000 L22.000,14.000 L6.000,14.000 ZM6.000,6.000 L22.000,6.000 L22.000,8.000 L6.000,8.000 L6.000,6.000 ZM6.000,-0.000 L22.000,-0.000 L22.000,2.000 L6.000,2.000 L6.000,-0.000 ZM-0.000,12.000 L3.000,12.000 L3.000,14.000 L-0.000,14.000 L-0.000,12.000 ZM-0.000,6.000 L3.000,6.000 L3.000,8.000 L-0.000,8.000 L-0.000,6.000 ZM-0.000,-0.000 L3.000,-0.000 L3.000,2.000 L-0.000,2.000 L-0.000,-0.000 Z" />
        </svg>
    .headed-block__body.info-headed__body
      .headed-block__row
        .headed-block__column.info-headed__column--1
          h3 Новости
          ul.info-headed__news
            li.info-headed__news-item
              <time datetime="2019-11-01">01.11.19</time>
              a(href="") Поступление новых деталей для XO 1023.ww.1212
            li.info-headed__news-item
              <time datetime="2019-11-01">01.11.19</time>
              a(href="") Открытие магазина
            li.info-headed__news-item
              <time datetime="2019-11-01">01.11.19</time>
              a(href="") Поступление новых деталей для XO 1023.ww.1212

        .headed-block__column.info-headed__column--2
          .info-headed__benefits
            p.info-headed__benefits-heading
              | <a href="" class="highlight">Зарегистрируйтесь</a> на Auto3N и вы получите:
            ul.info-headed__benefits-list
              li.info-headed__benefits-item
                span.info-headed__benefits-icon
                  <i class="fa fa-user-o" aria-hidden="true"></i>
                .info-headed__benefits-body
                  p.info-headed__benefits-head Персональное обслуживание
                  p.info-headed__benefits-desc
                    | Ваш личный менеджер поможет подобрать
                    |
                    | нужные запчасти и сэкономит ваше время!
                  a.info-headed__benefits-link.highlight(href="") Подробнее

              li.info-headed__benefits-item
                span.info-headed__benefits-icon
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                .info-headed__benefits-body
                  p.info-headed__benefits-head Специальные цены
                  p.info-headed__benefits-desc
                    | Индивидуальные скидки, участие в акциях
                    |
                    | и бонусные баллы для оплаты товаров!
                  a.info-headed__benefits-link.highlight(href="") Подробнее


  //- CATALOG BLOCK ===========================================================
  section.headed-block.catalog-headed
    .headed-block__head
      a.headed-block__label.head-label(href="")
        h2.head-label__text Трансмиссии
        <svg class="head-label__icon" xmlns="http://www.w3.org/2000/svg" width="22" height="14" viewBox="0 0 22 14">
          <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M6.000,14.000 L6.000,12.000 L22.000,12.000 L22.000,14.000 L6.000,14.000 ZM6.000,6.000 L22.000,6.000 L22.000,8.000 L6.000,8.000 L6.000,6.000 ZM6.000,-0.000 L22.000,-0.000 L22.000,2.000 L6.000,2.000 L6.000,-0.000 ZM-0.000,12.000 L3.000,12.000 L3.000,14.000 L-0.000,14.000 L-0.000,12.000 ZM-0.000,6.000 L3.000,6.000 L3.000,8.000 L-0.000,8.000 L-0.000,6.000 ZM-0.000,-0.000 L3.000,-0.000 L3.000,2.000 L-0.000,2.000 L-0.000,-0.000 Z" />
        </svg>
      .catalog-headed__setting
        .catalog-headed__sorting.sorting
          label.sorting__label(for="autoCategories") Категории по марке авто
          select.sorting-select.sorting-select--categories.js-select#autoCategories
            option(value="", selected) Agura
            option(value="") 1
            option(value="") 2
            option(value="") 3
        .catalog-headed__sorting.sorting
          label.sorting__label(for="mainSort") Сортировать
          select.sorting-select.js-select#mainSort
            option(value="", selected) от А до Я
            option(value="") 1
            option(value="") 2
            option(value="") 3

    .headed-block__body.catalog-headed__body
      .headed-block__row
        .headed-block__column.catalog-headed__column
          .catalog-headed__module
            h3.catalog-headed__heading ACURA
            ul.catalog-headed__list
              each item in acura
                li
                  a(href="")= item.name
          .catalog-headed__module
            h3.catalog-headed__heading ALFA ROMEO
            ul.catalog-headed__list
              each item in alfa_romeo
                li
                  a(href="")= item.name
          .catalog-headed__module
            h3.catalog-headed__heading AM GENERAL
            ul.catalog-headed__list
              each item in am_general
                li
                  a(href="")= item.name

        .headed-block__column.catalog-headed__column
          .catalog-headed__module
            h3.catalog-headed__heading AUDI
            ul.catalog-headed__list
              each item in audi
                li
                  a(href="")= item.name
          .catalog-headed__module
            h3.catalog-headed__heading BENTLEY
            ul.catalog-headed__list
              each item in bentley
                li
                  a(href="")= item.name

        .headed-block__column.catalog-headed__column
          .catalog-headed__module
            h3.catalog-headed__heading BMW
            ul.catalog-headed__list
              each item in bmw
                li
                  a(href="")= item.name
          .catalog-headed__module
            h3.catalog-headed__heading BUICK
            ul.catalog-headed__list
              each item in buick
                li
                  a(href="")= item.name

        .headed-block__column.catalog-headed__column
          .catalog-headed__module
            h3.catalog-headed__heading CADILLAC
            ul.catalog-headed__list
              each item in cadillac
                li
                  a(href="")= item.name
          .catalog-headed__module
            h3.catalog-headed__heading CHEVROLET
            ul.catalog-headed__list
              each item in chevrolet
                li
                  a(href="")= item.name

    .headed-block__foot.catalog-headed__foot
      a.link-dashed.catalog-headed__more.js-catalog-block-more(href="#") показать весь каталог


  //- TOP CATEGORIES ==========================================================
  section.top-categories
    h2.top-categories__title Популярные категории
    .sections-list.sections-list--part
      .sections-item.sections-item--1
        .sections-item__inner(style="background-image:url(static/images/content/sections/filter.png);")
          h3.sections-item__heading
            a(href="")
              span.sections-item__heading-big Фильтра

      .sections-item.sections-item--2
        .sections-item__inner(style="background-image:url(static/images/content/sections/oil.png);")
          h3.sections-item__heading
            a(href="")
              span.sections-item__heading-big Масла

      .sections-item.sections-item--4
        .sections-item__inner(style="background-image:url(static/images/content/sections/radiator.png);")
          h3.sections-item__heading
            a(href="")
              span.sections-item__heading-big Радиаторы


  //- MAIN-GOODS
  .main-goods
    .main-goods__nav
      button.main-goods__nav-btn.is-active Подборки товаров
      button.main-goods__nav-btn Акции
      button.main-goods__nav-btn Сейчас покупают

    .main-goods__grid
      .main-goods__cell.main-goods__cell--double
        .goods-tile.goods-tile--big
          .goods-tile__inner
            .goods-tile__top
              a.goods-tile__picture(href="")
                img(
                  src="static/images/content/selection/selection-1.jpg",
                  alt="Трансмиссионное масло ATF WS (SINTETIC-TIPTRONIC) 4L JAPAN"
                )
              .goods-tile__desc
                | MITASU ATF WS Synthetic Tech –
                |
                | низковязкая жидкость
                |
                | для современных автоматических
                |
                | трансмиссий, изготовленная по
                |
                | синтетической технологии...
            a.goods-tile__title(href="") Трансмиссионное масло
            .goods-tile__foot
              .goods-tile__foot-top
                .goods-tile__id ATF WS (SINTETIC-TIPTRONIC) 4L JAPAN
                .goods-tile__price
                  span.goods-tile__price-label ЦЕНА
                  a.goods-tile__price-link(href="") скрыта<sup>*</sup>
              .goods-tile__foot-notes <sup>*</sup>Необходимо <a href="">авторизоваться</a>
          .goods-tile__labels.promo-labels
            a.promo-label.promo-label--cat(href="") Масла
            .promo-label.promo-label--action Скинка 50%

      .main-goods__cell
        .goods-tile
          .goods-tile__inner
            a.goods-tile__picture(href="")
              img(
                src="static/images/content/selection/selection-2.jpg",
                alt="Задняя крышка F4A51"
              )
            a.goods-tile__title(href="") Ведомая шестерня
            .goods-tile__foot
              .goods-tile__foot-top
                .goods-tile__id F4A51
                .goods-tile__price
                  span.goods-tile__price-label ЦЕНА
                  a.goods-tile__price-link(href="") скрыта<sup>*</sup>
              .goods-tile__foot-notes <sup>*</sup>Необходимо <a href="">авторизоваться</a>

      .main-goods__cell
        .goods-tile
          .goods-tile__inner
            a.goods-tile__picture(href="")
              img(
                src="static/images/content/selection/selection-3.jpg",
                alt="Задняя крышка F4A51"
              )
            a.goods-tile__title(href="") Планетарный механизм
            .goods-tile__foot
              .goods-tile__foot-top
                .goods-tile__id F4A51
                .goods-tile__price
                  span.goods-tile__price-label ЦЕНА
                  a.goods-tile__price-link(href="") скрыта<sup>*</sup>
              .goods-tile__foot-notes <sup>*</sup>Необходимо <a href="">авторизоваться</a>

      .main-goods__cell
        .goods-tile
          .goods-tile__inner
            a.goods-tile__picture(href="")
              img(
                src="static/images/content/selection/selection-4.jpg",
                alt="Задняя крышка F4A51"
              )
            a.goods-tile__title(href="") Барабан
            .goods-tile__foot
              .goods-tile__foot-top
                .goods-tile__id F4A51
                .goods-tile__price
                  span.goods-tile__price-label ЦЕНА
                  a.goods-tile__price-link(href="") скрыта<sup>*</sup>
              .goods-tile__foot-notes <sup>*</sup>Необходимо <a href="">авторизоваться</a>

      .main-goods__cell
        .goods-tile
          .goods-tile__inner
            a.goods-tile__picture(href="")
              img(
                src="static/images/content/selection/selection-5.jpg",
                alt="Задняя крышка F4A51"
              )
            a.goods-tile__title(href="") Комплект фрикционных дисков
            .goods-tile__foot
              .goods-tile__foot-top
                .goods-tile__id F4A51
                .goods-tile__price
                  span.goods-tile__price-label ЦЕНА
                  a.goods-tile__price-link(href="") скрыта<sup>*</sup>
              .goods-tile__foot-notes <sup>*</sup>Необходимо <a href="">авторизоваться</a>

      .main-goods__cell
        .goods-tile
          .goods-tile__inner
            a.goods-tile__picture(href="")
              img(
                src="static/images/content/selection/selection-6.jpg",
                alt="Задняя крышка F4A51"
              )
            a.goods-tile__title(href="") Комплект соленоидов
            .goods-tile__foot
              .goods-tile__foot-top
                .goods-tile__id F4A51
                .goods-tile__price
                  span.goods-tile__price-label ЦЕНА
                  a.goods-tile__price-link(href="") скрыта<sup>*</sup>
              .goods-tile__foot-notes <sup>*</sup>Необходимо <a href="">авторизоваться</a>
          .goods-tile__labels.promo-labels
            .promo-label.promo-label--new Новый

      .main-goods__cell
        .goods-tile
          .goods-tile__inner
            a.goods-tile__picture(href="")
              img(
                src="static/images/content/selection/selection-7.jpg",
                alt="Задняя крышка F4A51"
              )
            a.goods-tile__title(href="") Гидравлический блок
            .goods-tile__foot
              .goods-tile__foot-top
                .goods-tile__id F4A51
                .goods-tile__price
                  span.goods-tile__price-label ЦЕНА
                  a.goods-tile__price-link(href="") скрыта<sup>*</sup>
              .goods-tile__foot-notes <sup>*</sup>Необходимо <a href="">авторизоваться</a>

      .main-goods__cell
        .goods-tile
          .goods-tile__inner
            a.goods-tile__picture(href="")
              img(
                src="static/images/content/selection/selection-8.jpg",
                alt="Задняя крышка F4A51"
              )
            a.goods-tile__title(href="") Масляный насос
            .goods-tile__foot
              .goods-tile__foot-top
                .goods-tile__id F4A51
                .goods-tile__price
                  span.goods-tile__price-label ЦЕНА
                  a.goods-tile__price-link(href="") скрыта<sup>*</sup>
              .goods-tile__foot-notes <sup>*</sup>Необходимо <a href="">авторизоваться</a>
          .goods-tile__labels.promo-labels
            .promo-label.promo-label--top Хит

      .main-goods__cell
        .goods-tile
          .goods-tile__inner
            a.goods-tile__picture(href="")
              img(
                src="static/images/content/selection/selection-9.jpg",
                alt="Задняя крышка F4A51"
              )
            a.goods-tile__title(href="") Фильтр масляный
            .goods-tile__foot
              .goods-tile__foot-top
                .goods-tile__id F4A51
                .goods-tile__price
                  span.goods-tile__price-label ЦЕНА
                  a.goods-tile__price-link(href="") скрыта<sup>*</sup>
              .goods-tile__foot-notes <sup>*</sup>Необходимо <a href="">авторизоваться</a>
          .goods-tile__labels.promo-labels
            a.promo-label.promo-label--cat(href="") Фильтра
            .promo-label.promo-label--top Хит

      .main-goods__cell
        .goods-tile
          .goods-tile__inner
            a.goods-tile__picture(href="")
              img(
                src="static/images/content/selection/selection-10.jpg",
                alt="Задняя крышка F4A51"
              )
            a.goods-tile__title(href="") Задний планетарный механизм
            .goods-tile__foot
              .goods-tile__foot-top
                .goods-tile__id F4A51
                .goods-tile__price
                  span.goods-tile__price-label ЦЕНА
                  a.goods-tile__price-link(href="") скрыта<sup>*</sup>
              .goods-tile__foot-notes <sup>*</sup>Необходимо <a href="">авторизоваться</a>

      .main-goods__cell
        .goods-tile
          .goods-tile__inner
            a.goods-tile__picture(href="")
              img(
                src="static/images/content/selection/selection-11.jpg",
                alt="Задняя крышка F4A51"
              )
            a.goods-tile__title(href="") Задняя крышка
            .goods-tile__foot
              .goods-tile__foot-top
                .goods-tile__id F4A51
                .goods-tile__price
                  span.goods-tile__price-label ЦЕНА
                  a.goods-tile__price-link(href="") скрыта<sup>*</sup>
              .goods-tile__foot-notes <sup>*</sup>Необходимо <a href="">авторизоваться</a>
          .goods-tile__labels.promo-labels
            .promo-label.promo-label--action Акция

      .main-goods__cell
        .goods-tile
          .goods-tile__inner
            a.goods-tile__picture(href="")
              img(
                src="static/images/content/selection/selection-12.jpg",
                alt="Задняя крышка F4A51"
              )
            a.goods-tile__title(href="") Электронный модуль
            .goods-tile__foot
              .goods-tile__foot-top
                .goods-tile__id F4A51
                .goods-tile__price
                  span.goods-tile__price-label ЦЕНА
                  a.goods-tile__price-link(href="") скрыта<sup>*</sup>
              .goods-tile__foot-notes <sup>*</sup>Необходимо <a href="">авторизоваться</a>

      .main-goods__cell
        .goods-tile
          .goods-tile__inner
            a.goods-tile__picture(href="")
              img(
                src="static/images/content/selection/selection-13.jpg",
                alt="Задняя крышка F4A51"
              )
            a.goods-tile__title(href="") Статор
            .goods-tile__foot
              .goods-tile__foot-top
                .goods-tile__id F4A51
                .goods-tile__price
                  span.goods-tile__price-label ЦЕНА
                  a.goods-tile__price-link(href="") скрыта<sup>*</sup>
              .goods-tile__foot-notes <sup>*</sup>Необходимо <a href="">авторизоваться</a>
          .goods-tile__labels.promo-labels
            .promo-label.promo-label--action Скидка 30%

      .main-goods__cell
        .goods-tile
          .goods-tile__inner
            a.goods-tile__picture(href="")
              img(
                src="static/images/content/selection/selection-14.jpg",
                alt="Задняя крышка F4A51"
              )
            a.goods-tile__title(href="") Комплект соленоидов
            .goods-tile__foot
              .goods-tile__foot-top
                .goods-tile__id F4A51
                .goods-tile__price
                  span.goods-tile__price-label ЦЕНА
                  a.goods-tile__price-link(href="") скрыта<sup>*</sup>
              .goods-tile__foot-notes <sup>*</sup>Необходимо <a href="">авторизоваться</a>


  //- RECENTLY-VIEWED =========================================================
  section.headed-block.viewed-headed
    .headed-block__head
      a.headed-block__label.head-label(href="")
        h2.head-label__text Вы смотрели
        <svg class="head-label__icon" xmlns="http://www.w3.org/2000/svg" width="22" height="14" viewBox="0 0 22 14">
          <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M6.000,14.000 L6.000,12.000 L22.000,12.000 L22.000,14.000 L6.000,14.000 ZM6.000,6.000 L22.000,6.000 L22.000,8.000 L6.000,8.000 L6.000,6.000 ZM6.000,-0.000 L22.000,-0.000 L22.000,2.000 L6.000,2.000 L6.000,-0.000 ZM-0.000,12.000 L3.000,12.000 L3.000,14.000 L-0.000,14.000 L-0.000,12.000 ZM-0.000,6.000 L3.000,6.000 L3.000,8.000 L-0.000,8.000 L-0.000,6.000 ZM-0.000,-0.000 L3.000,-0.000 L3.000,2.000 L-0.000,2.000 L-0.000,-0.000 Z" />
        </svg>

      .headed-block__nav.js-viewed-slider-nav
        button.headed-block__prev(aria-label="Предыдущий слайд")
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        button.headed-block__next(aria-label="Следующий слайд")
          <i class="fa fa-chevron-right" aria-hidden="true"></i>

    .headed-block__body.viewed-headed__body
      .headed-block__carousel.js-viewed-slider
        .headed-block__slide
          .goods-tile
            .goods-tile__inner
              a.goods-tile__picture(href="")
                img(
                  src="static/images/content/selection/selection-11.jpg",
                  alt="Задняя крышка F4A51"
                )
              a.goods-tile__title(href="") Задняя крышка
              .goods-tile__foot
                .goods-tile__foot-top
                  .goods-tile__id F4A51
                  .goods-tile__price
                    span.goods-tile__price-label ЦЕНА
                    a.goods-tile__price-link(href="") скрыта<sup>*</sup>
                .goods-tile__foot-notes <sup>*</sup>Необходимо <a href="">авторизоваться</a>
            .goods-tile__labels.promo-labels
              .promo-label.promo-label--action Акция

        .headed-block__slide
          .goods-tile
            .goods-tile__inner
              a.goods-tile__picture(href="")
                img(
                  src="static/images/content/selection/selection-7.jpg",
                  alt="Гидравлический блок JF017E"
                )
              a.goods-tile__title(href="") Гидравлический блок
              .goods-tile__foot
                .goods-tile__foot-top
                  .goods-tile__id JF017E
                  .goods-tile__price
                    span.goods-tile__price-label ЦЕНА
                    a.goods-tile__price-link(href="") скрыта<sup>*</sup>
                .goods-tile__foot-notes <sup>*</sup>Необходимо <a href="">авторизоваться</a>

        .headed-block__slide
          .goods-tile
            .goods-tile__inner
              a.goods-tile__picture(href="")
                img(
                  src="static/images/content/selection/selection-8.jpg",
                  alt="Масляный насос JF015E"
                )
              a.goods-tile__title(href="") Масляный насос
              .goods-tile__foot
                .goods-tile__foot-top
                  .goods-tile__id JF015E
                  .goods-tile__price
                    span.goods-tile__price-label ЦЕНА
                    a.goods-tile__price-link(href="") скрыта<sup>*</sup>
                .goods-tile__foot-notes <sup>*</sup>Необходимо <a href="">авторизоваться</a>
            .goods-tile__labels.promo-labels
              .promo-label.promo-label--top Хит

        .headed-block__slide
          .goods-tile
            .goods-tile__inner
              a.goods-tile__picture(href="")
                img(
                  src="static/images/content/selection/selection-14.jpg",
                  alt="Комплект соленоидов 09G/D С 2003г."
                )
              a.goods-tile__title(href="") Комплект соленоидов
              .goods-tile__foot
                .goods-tile__foot-top
                  .goods-tile__id 09G/D С 2003г.
                  .goods-tile__price
                    span.goods-tile__price-label ЦЕНА
                    a.goods-tile__price-link(href="") скрыта<sup>*</sup>
                .goods-tile__foot-notes <sup>*</sup>Необходимо <a href="">авторизоваться</a>

        .headed-block__slide
          .goods-tile
            .goods-tile__inner
              a.goods-tile__picture(href="")
                img(
                  src="static/images/content/selection/selection-8.jpg",
                  alt="Масляный насос JF015E"
                )
              a.goods-tile__title(href="") Масляный насос
              .goods-tile__foot
                .goods-tile__foot-top
                  .goods-tile__id JF015E
                  .goods-tile__price
                    span.goods-tile__price-label ЦЕНА
                    a.goods-tile__price-link(href="") скрыта<sup>*</sup>
                .goods-tile__foot-notes <sup>*</sup>Необходимо <a href="">авторизоваться</a>
            .goods-tile__labels.promo-labels
              .promo-label.promo-label--top Хит

        .headed-block__slide
          .goods-tile
            .goods-tile__inner
              a.goods-tile__picture(href="")
                img(
                  src="static/images/content/selection/selection-14.jpg",
                  alt="Комплект соленоидов 09G/D С 2003г."
                )
              a.goods-tile__title(href="") Комплект соленоидов
              .goods-tile__foot
                .goods-tile__foot-top
                  .goods-tile__id 09G/D С 2003г.
                  .goods-tile__price
                    span.goods-tile__price-label ЦЕНА
                    a.goods-tile__price-link(href="") скрыта<sup>*</sup>
                .goods-tile__foot-notes <sup>*</sup>Необходимо <a href="">авторизоваться</a>


  //- PARTNERS ================================================================
  section.partners
    .partners-title Партнеры
    ul.partners-list
      li.partners-list__item
        img(src="static/images/content/partners/transtec.png", alt="")
      li.partners-list__item
        img(src="static/images/content/partners/seal-aftermarket.png", alt="")
      li.partners-list__item
        img(src="static/images/content/partners/sonnax.png", alt="")
      li.partners-list__item
        img(src="static/images/content/partners/precision.png", alt="")