.cart-form__bottom
  .cart-products__wrapper
    .g-table-responsive
      table.cart-products
        thead
          tr.cart-products__head
            th(scope="col").cart-products__cell.cart-products__cell--main
              | 3 товара
            th(scope="col").cart-products__cell Товары
            th(scope="col").cart-products__cell Цена
            th(scope="col").cart-products__cell Количество
            th(scope="col").cart-products__cell Сумма
        tbody
          tr.cart-products__row
            td.cart-products__cell
              img(
                src="static/images/content/cart/img-1.jpg",
                alt=""
              )
            td.cart-products__cell
              b
                | Масляный насос
                br
                |двигателя
            td.cart-products__cell 2000₽
            td.cart-products__cell 1
            td.cart-products__cell 2000₽
          tr.cart-products__row
            td.cart-products__cell
              img(
                src="static/images/content/cart/img-2.jpg",
                alt=""
              )
            td.cart-products__cell
              b
                | Масляный насос
            td.cart-products__cell 3000₽
            td.cart-products__cell 2
            td.cart-products__cell 6000₽
          tr.cart-products__row
            td.cart-products__cell
              img(
                src="static/images/content/cart/img-3.jpg",
                alt=""
              )
            td.cart-products__cell
              b
                | Ступица
            td.cart-products__cell 4500₽
            td.cart-products__cell 1
            td.cart-products__cell 4500₽

  .cart-total__line
    .cart-total
      .cart-total__label Сумма заказа:
      b.cart-total__value 12 500₽
    button.button.button--primary(
      type="submit"
    )
      | Оформить заказ


