.cart-form__bottom
  .cart-products
    .cart-products__head
      .cart-products__cell.cart-products__cell--main
        | 3 товара
      .cart-products__cell Товары
      .cart-products__cell Цена
      .cart-products__cell Количество
      .cart-products__cell Сумма
    .cart-products__row
      .cart-products__cell
        img(
          src="static/images/content/cart/img-1.jpg",
          alt=""
        )
      .cart-products__cell
        b
          | Масляный насос
          br
          |двигателя
      .cart-products__cell 2000₽
      .cart-products__cell 1
      .cart-products__cell 2000₽
    .cart-products__row
      .cart-products__cell
        img(
          src="static/images/content/cart/img-2.jpg",
          alt=""
        )
      .cart-products__cell
        b
          | Масляный насос
      .cart-products__cell 3000₽
      .cart-products__cell 2
      .cart-products__cell 6000₽
    .cart-products__row
      .cart-products__cell
        img(
          src="static/images/content/cart/img-3.jpg",
          alt=""
        )
      .cart-products__cell
        b
          | Ступица
      .cart-products__cell 4500₽
      .cart-products__cell 1
      .cart-products__cell 4500₽

  .cart-total__line
    .cart-total
      .cart-total__label Сумма заказа:
      b.cart-total__value 12 500₽
    button.button.button--primary(
      type="submit"
    )
      | Оформить заказ


